.sidebar {
  flex: 1;
  /* height: calc(100vh - 50px); */
  height: 1510px;
  background-color: #fff;
  position: sticky;
  left: 1px;
  margin-top: -10px;
  bottom: 20px !important;
  width: 260px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
  margin-left: 32px;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center
}

.btn {
  margin-bottom: 32px;
  width: 163px;
  height: 33px;
  background: #27AE60;
  border-radius: 30px;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 27px;
}
/* 
.sidebarListItem.active {
  background-color: rgb(240, 240, 255);
  height: 36px;
  width: 260px;
  margin-right: 50px;
  border-left: 3px solid #1875F0;
  
} */

.sidebarIcon{
    margin-right: 10px;
    /* font-size: 20px !important; */
    height: 16px;
    width: 19.481204986572266px;
}
